:root {
  --main_margin: 8px;
  --main_color0: #F8F8F8;
  --main_color1: #343434;
  --main_color2: #2B2B2B;
  --main_color3: #232323;
  --main_color4: #1E1E1E;
  --main_color5: #141414;
  --element_margin: 2px;
  --element_height: 20px;
}

body{
  margin: var(--main_margin);
  background: var(--main_color2);
  color: var(--main_color0);
}
:focus {
  outline: 2px solid gray;
}

.EffectContainer{
  margin: var(--main_margin);
}

.DrawConfigContainer{
  display: flex;
  justify-content: space-around;
}
.BgColorContainer{
  margin: var(--main_margin);
  flex-basis: 50%;
}
.BgColors{
  display: flex;
  justify-content: space-between;
}
.BgRange{
  flex-basis: 23%;
}
.InstanceContainer{
  margin: var(--main_margin);
  flex-basis: 50%;
}
.Instance{
  display: flex;
  justify-content: flex-start;
}

.CodeContainer{
  margin: var(--main_margin);
}
.CodeEditorContainer{
  height: 500px;
  background: var(--main_color1);
  display: flex;
  justify-content: space-around;
}
.CTS1:checked ~ .CodeEditorContainer > .FeedbackContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: var(--main_margin);
  z-index: 0;
}
.CTS1:checked ~ .CodeEditorContainer > .VertexContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: var(--main_margin);
  position: relative;
  right: 250px;
  transform: translateX(250px);
  z-index: 1;
  transition: transform 0.25s 0s;
}
.CTS1:checked ~ .CodeEditorContainer > .FragmentConatiner,
.CTS2:checked ~ .CodeEditorContainer > .FeedbackContainer{
  display: none;
}
.CTS2:checked ~ .CodeEditorContainer > .VertexContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: var(--main_margin);
  position: relative;
  left: 250px;
  transform: translateX(-250px);
  z-index: 1;
  transition: transform 0.25s 0s;
}
.CTS2:checked ~ .CodeEditorContainer > .FragmentConatiner{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: var(--main_margin);
  z-index: 0;
}
.FeedbackContainer, .VertexContainer, .FragmentConatiner{
  display: flex;
}
.Code{
  height: 25px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
.CodeAdjust{
  height: 2px;
  width: 100%;
  background: var(--main_color5);
  cursor: row-resize;
}

.PostProcessContainer{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.UniformsContainer{
  margin: var(--main_margin);
  align-self: stretch;
}
.UniformConfig{
  display: flex;
  justify-content: space-between;
}
.UniformRange{
  margin-bottom: 24px;
}
.UniformName{
  width: 100px;
}
.UniformIndex{
  display: inline-block;
  width: 25px;
}
.CompileContainer{
  margin: var(--main_margin);
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.MessageBox{
  height: 100%;
}
.Message{
  resize: none;
  background: var(--main_color4);
  color: var(--main_color0);
  border: 0px;
  height: 100%;
  width: 100%;
}
.VideoContainer{
  margin: var(--main_margin);
  align-self: stretch;
}
.VideoControls{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.VideoBox{
  position:  relative;
}
.Video{
  position: absolute;
}
.Video:focus{
  outline: none;
}

.InputText{
  width: 175px;
  height: var(--element_height);
  margin: var(--element_margin);
  background: var(--main_color5);
  color: var(--main_color0);
  border: none;
}
.MiniInputText{
  text-align: center;
  width: 50px;
  height: var(--element_height);
  margin: var(--element_margin);
  background: var(--main_color5);
  color: var(--main_color0);
  border: none;
}
.MiniInputText::-webkit-outer-spin-button,
.MiniInputText::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.InputFps{
  text-align: center;
  width: 50px;
  height: var(--element_height);
  margin: var(--element_margin);
  background: var(--main_color5);
  color: var(--main_color0);
  border: none;
}
.InputIndex{
  text-align: center;
  width: 50px;
  height: var(--element_height);
  margin: var(--element_margin);
  background: var(--main_color5);
  color: var(--main_color0);
  border: none;
}
.SelectBox{
  width: 175px;
  height: var(--element_height);
  margin: var(--element_margin);
  background: var(--main_color5);
  color: var(--main_color0);
  border: none;
}
.MiniSelectBox{
  width: 60px;
  height: var(--element_height);
  margin: var(--element_margin);
  background: var(--main_color5);
  color: var(--main_color0);
  border: none;
}
.UniformName{
  width: 120px;
  height: var(--element_height);
  margin: var(--element_margin);
  background: var(--main_color5);
  color: var(--main_color0);
  border: none;
}
.Buttons{
  width: 60px;
  cursor: pointer;
  color: var(--main_color0);
  border-radius: 0;
  margin: var(--element_margin);
  background: var(--main_color2);
}
.Buttons:focus{
  outline: none;
}
.RangeValue{
  display: inline-block;
  width: 50px;
}
.Range{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 15px;
  width: 100%;
  margin: var(--element_margin);
  margin-left: 0px;
  margin-right: 0px;
  background: var(--main_color4);
  border-radius: 0px;
  border: solid 1px var(--main_color5);
}
.Range::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: var(--main_color1);
  width: 15px;
  height: 15px;
  border-radius: 0px;
}

.ToggleSwitch{
  display: none;
}
.ToggleSwitch + label.Check{
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 48px;
  height: 15px;
  border: solid 1px var(--main_color5);
  border-radius: 0px;
  background-color: var(--main_color4);
  vertical-align: middle;
}
.ToggleSwitch:checked + label.Check{
  background-color: #CDA869;
}
.ToggleSwitch + label.Check > div{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 0px;
  background-color: var(--main_color1);
  vertical-align: middle;
}
.ToggleSwitch:checked + label.Check > div{
  left: 33px;
}

.TabSwitch{
  display: none;
}
.TabLabel{
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 20px;
  cursor: pointer;
  color: var(--main_color1);
  border-radius: 0;
  margin: var(--element_margin);
  margin-bottom: 0px;
  background: var(--main_color5);
}
.TabSwitch:checked + .TabLabel{
  color: var(--main_color0);
  background: var(--main_color1);
}

.PopupUI{
  margin-top: 4px;
  margin-bottom: 4px;
}
.PopupSub{
  display: inline-block;
  width: 60px;
}

.Ls{
  margin-left: 0px;
}
.Rs{
  margin-right: 0px;
}